.form-container {
    display: flex;
    margin-bottom: 1%;

    .logo{
        margin-top: 5.5%
    }
    .title-input {
        margin-left: 10%;
        margin-top: 5%;
    }
    .source-select {
        margin-left: 2%;
        margin-top: 5%;
    }
    .submit {
        margin-left: 2%;
        margin-top: 6.75%;
    }
}
